.statusWarning {
	background-color: #FFFF66 !important;
	text-align: center;
}
.statusNotStarted {
	background-color: #BCBCE1 !important;
	text-align: center;
}
.statusAlert {
	background-color: #FF3300 !important;
	text-align: center;
}
.statusOK {
	background-color: #62EE30 !important;
	text-align: center;
}
.statusComplete {
	background-color: #999999 !important;
	text-align: center;
}
