DIV.Thread {
    border-spacing: 0px;
    border: 0px none;
    border-collapse: collapse;
    padding: 0px;
    -width: 100%;
    padding: 0px 0px 0px 20px;
}


TABLE.DiscussionPost {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    margin: 3px 0px !important;
}

TABLE.DiscussionPost TD.MetaData {
    vertical-align: top;
    padding: 5px;
    border-right: 1px solid #999999;
    width: 150px;
}

TABLE.DiscussionPost TD.Post {
    vertical-align: top;
    padding: 5px;
}

TABLE.DiscussionPost TD.DeletedPost {
    padding: 10px;
    font-weight: bold;
}

TABLE.DiscussionPost TD.Post DIV.Title {
    font-weight: bold;
}

DIV.Content {
}

PRE.DiscussionText {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 5px 0px 0px 0px !important;
}

TABLE.DiscussionPost TD.PostButtons {
    padding: 5px;
}

TABLE.Associations TD.Associations {
    margin: 0px 0px !important;
    padding: 0px !important;
}


/* Styles for "Associations"/"Attachment" post labels - depend on view style */

.AuxLabelNested {
    font-weight: bold;
}

.AuxLabelFlat {
    font-weight: bold;
}

