/* Basic form fonts */
    INPUT.UserPickerInput, INPUT.inputfield, SELECT.inputfield, TEXTAREA.inputfield, SELECT.FilterInput, INPUT.FilterInput, SPAN.TextRequired, OPTGROUP.Separator {
	font-family: verdana;
	font-size: 11px ;
    }
    OPTGROUP.Separator {
        font-style: normal;
        font-weight: normal;
        padding-left: 4px;
        padding-right: 3px;
        text-align: center;
    }
    OPTGROUP.Separator OPTION {
        padding-left: 0px;
        text-align: left;
    }

/* Form element properties */
    INPUT.UserPickerInput, INPUT.inputfield, SELECT.inputfield, TEXTAREA.inputfield, SELECT.FilterInput, INPUT.FilterInput {
	border: #9B9B9B 1px solid;
	color: #333333;
	background-color: #f2f2f2;
        padding: 0px;
    }

    INPUT.inputfield[disabled] {
	border: #9B9B9B 1px solid;
	color: #333333;
	background-color: #D7D7D7;
        padding: 0px;
    }

    INPUT.UserPickerInput {
        background-color: #cccccc;
    }
    SELECT.FilterInput, INPUT.FilterInput {
        width: 110px;
    }

    .UserPicker {
        cursor: pointer;
    }

/* Form modifiers */
   SPAN.TextRequired, DIV.TextRequired {
	color: #CC3300;
   }