/* Standard Font Section */
    body, DIV.contentarea, .mastHeadLinks, .mastHeadBackground {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
    }

/* Main page style classes */
    body {
	color: #333333;
	margin: 0px;
	padding: 0px;
	/*overflow: visible;*/
	background-color: #E4E4E4;
    }

    DIV.contentarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 8px;
    }

    FORM {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

/* Style classes for the menu bar */
    .mastHeadBackground, .mastHeadLink, .mastHeadLinkSelected {
	background-color: #334C83;
    }
    .mastHeadLink, .mastHeadLinkSelected {
	border-left:15px #ebebeb;
	color: #FFFFFF;
    }
    .mastHeadLink a, .mastHeadLink a:visited, .mastHeadLinkSelected {
	color: #FFFFFF;
    }
    .mastHeadLinkSelected {
        font-weight: bold;
    }
    .mastHeadLinkSpacing {
    	padding-left: 3px;
    	padding-right: 3px;
    }


/* This is the navigation tab styles */
    TABLE.NavTabContainer {
        width: 78px;
    }
    TD.navTabActive, TD.navTabInactive, TD.navTabActive A, TD.navTabInactive A {
	color: #424242;
	white-space: nowrap;
    }
    TD.navTabActive, TD.navTabInactive {
	position:relative;
	width:76px;
	height:39px;
	z-index:1;
	float: left;
	visibility: visible;
    }
    TD.navTabActive IMG, TD.navTabInactive IMG {
        padding-top: 3px;
    }
    TD.navTabActive a:link, TD.navTabActive a:visited {
	text-decoration: none;
    }
    .navTabActiveShadowLeft {
	background-image: url("../sf-images/tabs/tab_shadow_left.gif");
    }
    .navTabActiveShadowRight {
	background-image: url("../sf-images/tabs/tab_shadow_right.gif");
    }
    .navTabActiveShadowTop {
	background-color: #C6C6C6;
    }
    .navTabSpacer {
	position:relative;
	z-index:0;
	height:40px;
	background-image: url("../sf-images/tabs/inverse_tab_background.gif");
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #808080;
	visibility: visible;
    }
    .navTabShadow {
	height: 4px;
	background-image: url("../sf-images/tabs/inverse_tab_background_shadow.gif");
    }
    .navTabInactive {
	background-image: url("../sf-images/tabs/inverse_tab_background.gif");
    }
    .navTabInactive a:link, .navTabInactive a:visited, .navTabInactive a {
	text-decoration:none;
    }
    .navTabInactiveHighlight {
	background-color: #FFFFFF;
    }
    .navTabInactiveShadow {
	background-color: #808080;
    }

/* Used for div layout (align left or align right) */
    DIV.AlignLeft {
	float: left;
	position: relative;
    }
    DIV.AlignRight {
	float: right;
	position: relative;
    }

/* Style used to diaply "Project: AAA (b) 00E" at leftmost breadcrumb position */
    .ProjectProminent {
	font-size: 12px;
    	font-weight: bold;
    }
