/* Basic classes for lists that use images as their 'bullets' */
    DIV.ImageListChildSelected, DIV.ImageListParentSelected, DIV.ImageListParentSelectedNoTop,
    DIV.ImageListParent, DIV.ImageListChild {
	list-style-position: inside;
	list-style-type: none;
	padding-right: 5px;
	margin-right: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	white-space: nowrap;
    }
    DIV.ImageListChildSelected IMG, DIV.ImageListParentSelected IMG, DIV.ImageListParentSelectedNoTop IMG,
    DIV.ImageListParent IMG, DIV.ImageListChild IMG {
	padding-right: 4px;
    }

/* Standard properties for a row that is currently selected */
    DIV.ImageListChildSelected, DIV.ImageListParentSelected, DIV.ImageListParentSelectedNoTop {
	background-color: #F4EEB2;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	margin-left: 0px;
    }
    DIV.ImageListChildSelected, DIV.ImageListParentSelected {
	border-bottom: 1px solid #9B9B9B;
	border-top: 1px solid #9B9B9B;
    }
    DIV.ImageListParentSelectedNoTop {
	border-bottom: 1px solid #9B9B9B;
    }


/* The actual list items and their indentation */
    DIV.ImageListParent, DIV.ImageListParentSelected, DIV.ImageListParentSelectedNoTop {
	padding-left: 10px;
    }
    DIV.ImageListChild, DIV.ImageListChildSelected {
	padding-left: 25px;
    }
