/* Style classes for the pop-up menu */
    .popupmenu, #menumouseover, .popupmenu A {
    	color: #333333;
    }
    .popupmenu {
	position:absolute;
	font:normal 10px Verdana;
	line-height:18px;
	z-index:100;
	visibility:hidden;
	border-right: #989898 1px solid;
	border-top: #989898 1px solid;
	border-left: #989898 1px solid;
	border-bottom: #989898 1px solid;
	background-color: #F0F0F0;
    }
    .popupmenu A, .popupmenu .heading, DIV.MenuItemDisabled {
	text-decoration:none;
	padding-left:10px;
	padding-right:10px;
	line-height: 17px;
	height: 17px;
	width:165px;
	font-size:11px;
    }
    .popupmenu A IMG {
	float: right;
	margin: 2px;
    }
    #menumouseover {
	background-color: #F4EEB2;
	color: #333333;
	text-decoration: none;
    }
    #menumouseover a {
	color:#333333;
    }
    DIV.MenuTitle {
    	text-decoration: none;
    	font-weight: bold;
    	font-style: oblique;
    	padding-left: 3px;
    }

div.menu {
	position:absolute;
	font:normal 11px Verdana;
	line-height:18px;
	z-index:100;
	visibility:hidden;
	border-right: #989898 1px solid;
	border-top: #989898 1px solid;
	border-left: #989898 1px solid;
	border-bottom: #989898 1px solid;
	background-color: #F0F0F0;
    visibility: hidden;
}

.menuHeader{
	padding:3px !important;
	border-bottom: 1px solid #C6C6C6;
	display: block;
	background-color: #D5D2D2;
	border-right: #C6C6C6 1px solid;
	border-top: #FFF 1px solid;
	border-left: #FFF 1px solid;
}

div.menu a.menuItem, DIV.MenuItemDisabled {
  color: #000000;
  cursor: default;
  display: block;
  padding: 3px 1em;
  text-decoration: none;
  white-space: nowrap;
}

DIV.MenuItemDisabled {
    color:#6E6E6E;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
  background-color: #F4EEB2;
  color: #333333;
}

div.menu div.menuItemSep {
  border: 1px inset #e0e0e0;
  margin: 4px 2px;
}

