TABLE.Profile {
    border: 1px solid #999;
    background-color: #FFF;
    width: 100%;
    border-collapse: collapse;
}

TABLE.Profile TD.Summary {
    padding: 3px;
    vertical-align: top;
    text-align: left;
    width: 2%;
    white-space: nowrap;
    border-right: 1px solid #999;
}

TABLE.Profile.Long {
    background-color: #ffc1c1;
}

TABLE.Profile.Method {
    border: 1px solid #006400;
}

TABLE.Profile.Query {
    border: 1px solid #ffd700;
}

TABLE.Profile TD.ErrorMessage {
    border: inherit;
    background-color: #b22222;
    color: #FFF;
    font-weight: bold;
}