/* Generic properties of all tables */
    TABLE {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
    }
    TABLE, TR, TD {
	border-spacing: 0px;
    }
    TR.InstructionHeader {
    	color: #333333 !important;
    	background-color: #E9EAF5 !important;
    	line-height: 15px !important;
    }
    TR.InstructionHeader TD {
    	padding: 4px !important;
    	border-collapse: collapse !important;
    	border-width: 1px !important;
    	border-color: #999999 !important;
    	border-style: solid !important;
    }

     TD.CategoryFilter {
    	padding: 4px !important;
    	border-collapse: collapse !important;
    	border-width: 1px !important;
    	border-color: #999999 !important;
    	background-color: #EFEFEF !important;
    	border-style: solid !important;
    }

    TABLE.PaddedTable, TABLE.PaddedTable TD, TR.PaddedRow TD, TD.PaddedCell {
    	padding: 4px;
    }

    TR.PaddedRowWithTopBorder, TR.PaddedRowWithTopBorder TD {
       	border-top: 1px solid #999999;
        padding: 4px;
    }

    /* This is used in kind of complex user-role matrix */
    TD.InstructionHeader {
    	padding: 4px !important;
    	border-collapse: collapse !important;
    	border-width: 1px !important;
    	border-color: #999999 !important;
    	background-color: #E9EAF5 !important;
    	border-style: solid !important;
    }

    /* This is used in kind of complex layouts */
    TD.WidgetContainerHeader {
    	padding: 4px !important;
    	border-collapse: collapse !important;
    	border-width: 1px !important;
    	border-color: #999999 !important;
    	border-style: solid !important;
    }

/* Used for describing main container tables */
    TABLE.Container, TABLE.ContainerWithBorder {
    	background-color: #FFFFFF;
    	padding: 0px;
    	border-spacing: 0px;
    	width: 100%;
    	-border-collapse: collapse; /* Hack for IE */
    }
    TABLE.ContainerWithBorder {
        border-style: solid;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse !important;
    }
    TR.TileContainerHeader TD, TR.ContainerHeader TD, TR.ContainerFooter TD, TR.LeftNavigationWidgetHeader TD , TR.WidgetHeader TD, TR.WidgetFooter TD {
    	border-collapse: collapse !important;
    	border-width: 1px;
    	border-style: solid;
    	border-color: #999999;
    	vertical-align: middle !important;
    }
    TR.TileContainerHeader, TR.ContainerHeader, TR.LeftNavigationHeader, TR.LeftNavigationWidgetHeader, TR.WidgetHeader {
    	font-size: 12px;
    	font-weight: bold;
    }
    TR.TileContainerHeader IMG, TR.ContainerHeader IMG, TR.LeftNavigationWidgetHeader IMG, TR.WidgetHeader IMG {
    	float: right;
    	margin-left: 2px;
    }
    TR.TileContainerHeader, TR.ContainerHeader {
    	background-image: url("../sf-images/misc/container_header_gradient.gif");
    	background-repeat: repeat-x;
    }

    TR.IntegrationContainerHeader {
    	background-image: url("../integration/images/misc/container_header_gradient.gif");
    	background-repeat: repeat-x;
    }

    TR.LeftNavigationWidgetHeader, TR.WidgetHeader {
        background-image: url("../sf-images/misc/leftnav_gradient.gif");
    	background-repeat: repeat-x;
    }
    TR.TileContainerHeader TD, TR.ContainerHeader TD, TR.LeftNavigationWidgetHeader TD, TR.WidgetHeader TD {
    	padding-top: 3px !important;
    	padding-bottom: 3px !important;
    	padding-left: 5px !important;
    	padding-right: 5px !important;
    }
    TR.TileContainerHeader TD, TR.WidgetHeader TD {
    	border-bottom-style: none !important;
    }
    TR.LeftNavigationWidgetHeader TD, TR.WidgetHeader TD  {
    	border-top: 0px !important;
    }
    TR.ContainerFooter TD, TR.WidgetFooter TD {
    	line-height: 20px;
    	padding: 2px;
    	background-color: #C7C9DF;
    }

    TD.ContainerBody, TD.ContainerBodyWithBorder, TD.ContainerBodyWithPaddedBorder {
    	vertical-align: top;
    	border-spacing: 0px;
    }
    TD.ContainerBody {
    	padding: 0px;
    }
    TD.ContainerBodyWithBorder, TD.ContainerBodyWithPaddedBorder {
    	margin: 0px;
    	border-width: 1px;
    	border-style: solid;
    	border-color: #999999;
    	border-collapse: collapse;
    }
    TD.ContainerBodyWithBorder {
	padding: 0px;
    }
    TD.ContainerBodyWithPaddedBorder {
	padding: 4px;
    }


/* Used for item detail tables */
    TABLE.ItemDetailContainer {
	background-color: #FFFFFF;
    	border-spacing: 0px;
    	border-collapse: collapse;
    	width: 100%;
    }
    TD.ItemDetailContainerCell {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	border-collapse: collapse;
    	vertical-align: top;
    	padding: 5px;
    }
    TABLE.ItemDetailTable {
	    background-color: #FFFFFF;
    }
    TD.ItemDetailName, TD.ItemDetailValue {
    	border-style: none;
    	padding: 3px;
    	vertical-align: top;
    }
    TD.ItemDetailName {
    	white-space: nowrap;
    }
    TD.ItemDetailValue {
    	width: 95%;
    }
    TR.ItemDetailRowWithBorder TD {
    	border-top: 1px solid #999999;
    	border-bottom: 1px solid #999999;
    	padding: 3px;
    }


/* Used for item lists */
    TABLE.ItemListTable {
    	width: 100%;
    	padding: 0px;
    	background-color: #FFFFFF;
    	border-spacing: 0px;
    	border-collapse: collapse !important;
    }
    TR.ItemListHeader TD, TR.ItemListHeaderNoTopBorder TD, TR.ItemListTableRow TD, TR.OddRow TD, TR.EvenRow TD, TR.ItemListNoData TD {
    	border-spacing: 0px;
    	border-collapse: collapse;
    	border-width: 1px;
    	border-color: #999999;
    	border-style: solid;
    	padding: 2px;
    }
    TR.ItemListHeaderNoTopBorder TD {
        border-top-width: 0px;
    	border-top-style: none;
    }
    TR.ItemListHeader, TR.ItemListHeaderNoTopBorder {
    	color: #333333;
    	background-color: #E5E5E5;
    	padding: 2px;
    }
    TR.ItemListHeader IMG, TR.ItemListHeaderNoTopBorder IMG {
    	float: right;
    	margin: 2px;
    }
    TR.EvenRow, TR.OddRow {
    	vertical-align: top;
    }
    TR.EvenRow {
    	background-color: #F7F7F7;
    }
    TR.OddRow {
    	background-color: #EFEFEF;
    }
    TR.ItemListNoData TD {
    	height: 50px;
    	text-align: center;
    	vertical-align: middle;
    	font-style: italic;
    }

/* Used for folder lists (usually the left side of a item list navigation table */
    TABLE.CategoryListTable {
    	width: 100%;
    	border-spacing: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	border-collapse: collapse;
	border-right-style: none;
    	vertical-align: top;
    	padding: 0px;
    	background-color: #FFFFFF;
    }
    TR.CategoryListHeader {
	background-color: #DEE0EC;
	vertical-align: middle;
    }
    TR.CategoryListHeader TD {
	padding: 3px !important;
    	border-collapse: collapse;
    	border-bottom-width: 1px;
    	border-bottom-style: solid;
    	border-bottom-color: #999999;
    }
    TR.CategoryListHeader TD IMG {
    	vertical-align: middle;
    }
    TD.CategoryListBody, TD.CategoryListBodyWithPadding {
        border-color: #999999;
    	padding: 0px;
    	background-color: #F7F7F7;
    	border-spacing: 0px;
    	border-width: 1px;
    	border-style: solid;
    	border-top-width: 0px;
    	border-top-style: none;
    	white-space: nowrap;
    	vertical-align: top;
    	width: 180px;
    }
    TD.CategoryListBody TABLE {
        padding: 0px;
        width: 100%;
    }
    TD.CategoryListBody TD {
        padding: 0px;
    }
    TD.CategoryListBodyWithPadding {
       	padding: 4px;
    }
    TD.CategoryListDetails {
        vertical-align: top;
        padding: 4px;
        background-color: #FFFFFF;
        border-color: #999999;
        border-right-width: 1px;
        border-right-style: solid;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

/* Sub styles for containers within containers */
    TABLE TABLE.ContainerWithBorder TR.ContainerHeader,
    TABLE TABLE.CategoryListTable TR.ContainerHeader,
    TABLE TABLE.ItemListTable TR.ContainerHeader,
    TABLE TABLE.ItemDetailContainer TR.ContainerHeader {
    	background-image: none;
    }
    TABLE TABLE.ContainerWithBorder TR.ContainerHeader TD,
    TABLE TABLE.CategoryListTable TR.ContainerHeader TD,
    TABLE TABLE.ItemListTable TR.ContainerHeader TD,
    TABLE TABLE.ItemDetailContainer TR.ContainerHeader TD {
    	background-color: #DEE0EC;
    }
    TABLE TABLE.ContainerWithBorder TR.ContainerFooter TD,
    TABLE TABLE.CategoryListTable TR.ContainerFooter TD,
    TABLE TABLE.ItemListTable TR.ContainerFooter TD,
    TABLE TABLE.ItemDetailContainer TR.ContainerFooter TD {
    	background-color: #DEE0EC;
    }


/* Used for tab layouts */
    TD.headerTabsColor {
    	width: 100%;
    	background-color: #C7C9DF;
    }


/* Classes used in page navigation tables (The bit that has the page numbers with the previous/next buttons) */
    TABLE.PageNavTable {
    	border-spacing: 0px;
    	border: 0px none;
    	padding: 0px;
    	margin: 0px;
    }
    TABLE.PageNavTable TD {
    	padding-left: 3px;
    	padding-right: 3px;
    	border: 0px none;
    	padding-top: 0px;
    	padding-bottom: 0px;
    }

/* Classes used in the left navigation boxes */

    TABLE.LeftNavigation {
    	color: #333333;
    	background-color: #F3F3F3;
    	line-height: 15px;
	border: 1px solid #979AA4;
   	border-collapse: collapse;
    }
    TABLE.LeftNavigation TD {
    	padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .LeftNavigationHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background-color: #C7C9DF;
	line-height: 20px;
	font-weight: bold;
	padding-left: 1px;
	background-image: url("../sf-images/misc/leftnav_gradient.gif");
	background-repeat: repeat-x;
    }

/* Classes for tables that should have no borders (overriding whatever the containing table has) */
    TABLE.NoBorders, TABLE.NoBorders TD {
    	border-style: none;
    	border-width: 0px;
    }

    TABLE.LeftNavigationWidget TD {
        border-collapse: collapse;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 0px;
        padding-right: 0px;
    }

    TABLE.LeftNavContent TD {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #F3F3F3;
	/*background-color: #DADADA;*/
	padding: 4px;
    }

    TR.LeftNavigationWidget TD {
    	padding-top: 10px !important;
    	padding-bottom: 10px !important;
    }


/* Classes used on the SourceForge homepage */
    TD.siteNews {
        padding-left: 3px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 12px;
    }

    TD.horisontalRule {
	border-top: 1px solid #808080;
    }

    TD.mostActiveProject {
    }

    TD.ProjectStatusMiddle {
	background-image: url("../sf-images/misc/project_status_middle.gif");
    }

/* The plus minus image properties (the image that hides/expands a table) */
    IMG.PlusMinus {
    	height: 9px;
    	width: 9px;
    	margin: 3px;
    	float: left !important;
    	vertical-align: middle;
    }

/* Classes used in the editing of Roles */

   TD.clusterName {
   	width: 100px;
   	padding: 8px;
   	vertical-align: top;
   }

   TR.clusterContainer {
    	border-width: 1px;
    	border-color: #999999;
    	border-style: solid;
   }

   TABLE.ClusterResources {
   	padding: 8px;
   }

/* Used for the background of 3rd party project images */
   TD.aboutImageBackground {
       background-color: #FFFFFF;
   }

   #aboutScrolling {
      overflow: auto;
      height: 340px;
      z-index: 2;
      background-color: #E4E4E4;
   }

/* These classes are used to create separator lines in a container */
   TD.VerticalSeparator, TD.HorizontalSeparator {
       background-color: #999999;
       padding: 0px !important;
   }

   TD.VerticalSeparator {
       width: 1px;
   }

   TD.HorizontalSeparator {
       height: 1px;
   }
