/* Font properties for the tabs */
    .TabBody, .TabBody A, TR.TabHeader, TR.SubTabHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
    }

/* Basic tag block classes */
    TABLE.TabTable {
	width: 100%;
	margin-top: 5px;
	-border-collapse: collapse; /* IE hack */
    }
    TR.TabHeader {
	background-color: #C7C9DF;
    }
    TR.SubTabHeader {
	background-color: #DEE0EC;
    }
    TR.TabHeader TD, TR.SubTabHeader TD {
	padding: 3px;
	padding-left: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #9B9B9B;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9B9B9B;
	border-top-style: none;
	border-bottom-style: none;
    	vertical-align: middle !important;
    	-padding-bottom: -1px; /* IE hack */
    }
    TR.TabHeader IMG, TR.SubTabHeader IMG {
        float: right;
        margin-left: 2px;
    }

/* The body of a tab */
    TD.TabBody, TD.TabBody A {
	font-weight: bold;
	text-decoration:none;
	color: #333333;
	white-space: nowrap;
	width: auto;
    }
