/* Text colors for errors and success messages */
    FONT.errorText {
	color:#D53808 !important;
	font-weight: bold;
    }
    FONT.instructionText {
	font-weight: normal;
    }
    FONT.greenText {
	color:#319A63 !important;
	font-weight: normal;
    }


/* Styles for messages that appear at the top of a page */
    FONT.MessagesTitle {
	font-weight: bold;
    }


/* Style for text headers */
    DIV.HeaderText {
        font-size: 16px !important;
        font-weight: bold !important;
        /* line-height: 20px; */
    }


/* Text colors for errors and success messages */
    DIV.errorMessage, Font.ErrorMessage, FONT.TextRequired {
	color:#D53808 !important;
    }


/* Sub heading next to the radio buttons on the association picker */
    DIV.AssociationSubHeader {
        font-size: inherit;
    /*    font-weight: bold; */
    }

    TD.LeftNavTextTiny {
        font-size: 9px;
    }


/* Style for "pre"-formatted text */
    PRE.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
    }

/* Style for superscript */
    SPAN.trademark {
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      font-size: .65em;
      text-decoration: none;
      line-height: 0;
      vertical-align: super;
    }

/* This is for change approval fonts */
    .PendingChange {
	color:#319A63 !important;
	font-size: 11px;
	font-weight: normal;
    }

    DIV.EULA {
        color: #333333;
        background-color: #f2f2f2;
        border-style: solid;
        border-color: #9B9B9B;
        border-width: 1px;
        overflow: auto;
    }

    SPAN.ItemCount {
        font-weight: normal;
    }

    SPAN.PageXofY {
    }

    SPAN.searchlink {
	float: right;
	color: #5B6498;
    }

    SPAN.searchlink A, .searchlink A:visited{
	color: #5B6498;
    }

    .strikethrough {
        text-decoration: line-through;
    }

    A.EditPage {
	color: #A00;
	text-decoration: none;
	border-bottom: 1px dashed #A00;
    }