.priority0 {
	background-color: #BCBCBC !important;
}
.priority1 {
	background-color: #F84C49 !important;
}
.priority2 {
	background-color: #FF7639 !important;
}
.priority3 {
	background-color: #FFA12B !important;
}
.priority4 {
	background-color: #F7BD65 !important;
}
.priority5 {
	background-color: #EFE580 !important;
}
.priority6 {
	background-color: #30FF00 !important;
}
