DIV.WikiAttachment {
    border: 1px solid #ccc;
    padding: 4px;
    margin:4px;
}

#PageSourceBox {
    padding: 5px;
    min-width: 800px;
}

/*#PreviewBox { 
    background: #f0f0f0 url("/sf-images/wiki/wiki-preview.gif"); 
}*/
